# Enable the automatic integration of the following interface elements
WINE_FONTS="1"
WINE_ICONS="1"
WINE_COLORS="1"
WINE_ASPECT="1"
WINE_HOME="1"
WINE_MENU="1"

# Space separated values of banned dpi resolution
# If enabled when the screen dpi resolution will be the same as one listed the dpi will decreased by one
#WINE_BANNED_DPI="75"
